target/classes/programacion/galeria/Matematico.class
target/classes/programacion/galeria/GaleriaArte.class
target/classes/programacion/galeria/AlmacenDeObras.class
target/classes/programacion/galeria/Menu.class
target/classes/programacion/galeria/Visualizador.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/surefire-reports/programacion.galeria.AppTest.txt
target/surefire-reports/programacion.galeria.GaleriaTest.txt
target/surefire-reports/TEST-programacion.galeria.AppTest.xml
target/surefire-reports/TEST-programacion.galeria.GaleriaTest.xml
target/test-classes/programacion/galeria/AlmacenDeObrasTest.class
target/test-classes/programacion/galeria/GaleriaArteTest.class
target/test-classes/programacion/galeria/MatematicoTest.class
target/test-classes/programacion/galeria/VisualizadorTest.class
target/test-classes/programacion/galeria/MenuTest.class
target/classes/programacion/galeria/ObrasArte.class
target/test-classes/programacion/galeria/ObrasArteTest.class
target/classes/programacion/galeria/ObraArte.class
target/test-classes/programacion/galeria/ObraArteTest.class
.vscode/settings.json
src/test/java/programacion/galeria/VisualizadorTest.java
target/classes/programacion/galeria/Escultura.class
target/classes/programacion/galeria/Escultura$Material.class
target/classes/programacion/galeria/Pintura.class
target/classes/programacion/galeria/Pintura$Tecnica.class
target/test-classes/programacion/galeria/EsculturaTest.class
